/* All Elements */
* {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: #666;
}


/* Headers */
h2 {
    color: #333;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

h3 {
    color: #000;
    text-align: center;
}

/* Adobe Suites Section */
#adobeSuites {
    background-color: rgb(152, 176, 207);
    padding: 10px
}  

.adobeApps {
    
}


/* Footer */
#disclaimer {
    color: #666;
    font-size: 70%;
}

footer {
    padding: 10px;
    background-color: rgb(197, 197, 197);
}

